.logo {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 10px;
}

.login .forgot {
  float: right;
}

.text {
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.item {
  margin-bottom: 10px;
  border: 1px solid #e1e2e7;
  border-radius: 10px;
}

ion-checkbox {
  /* color: var(--ion-color-new); */
  zoom: 80%;
}

/* 002482 */

.login .signin{
    text-align: center;
}


ion-icon {
  font-size: 20px;
}
.facebook {
  color: #002482;
}
ion-button {
  --background: #002482;
}
