:root {
	--ion-color-new: #002482;
	--ion-color-new-rgb: 0,36,130;
	--ion-color-new-contrast: #ffffff;
	--ion-color-new-contrast-rgb: 255,255,255;
	--ion-color-new-shade: #002072;
	--ion-color-new-tint: #1a3a8f;
}
